body {
  font-family: sans-serif;
  background-color: lightslategrey;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Playfair Display', serif;
  margin: 0 10px;
}

.container {
  margin: 0 10px;
  margin-top: 60px;
}

.column {
  float:left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  max-width: 100%;
  height: auto;
  background-color: aliceblue;
}

.column h3 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}

.column p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 1000px) {
  .container {
    margin: auto;
  }
  .column {
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  .column {
    background-color: teal;
  }
}
